<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>506216991397-58vi5vsvviva6jpl7rtqs1k0k6grlo68.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.506216991397-58vi5vsvviva6jpl7rtqs1k0k6grlo68</string>
	<key>API_KEY</key>
	<string>AIzaSyBczm70eo0HpHsWe7FQblhcmReR6wGtbQA</string>
	<key>GCM_SENDER_ID</key>
	<string>506216991397</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Kapil.TaskByMobiotics</string>
	<key>PROJECT_ID</key>
	<string>task-example-8651b</string>
	<key>STORAGE_BUCKET</key>
	<string>task-example-8651b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:506216991397:ios:407934c4d6bcb874fedb4c</string>
	<key>DATABASE_URL</key>
	<string>https://task-example-8651b.firebaseio.com</string>
</dict>
</plist>